body {
  font-family: sans-serif;
  margin:0;
}

#warning-message { display: none; }
@media only screen and (max-device-width: 480px) and (orientation:portrait){
   #game { display:none; }
   #warning-message { display:block; }
}
@media only screen and (max-device-width: 480px) and (orientation:landscape){
   #warning-message { display:none; }
}

#game {
  position: fixed; top: 0; right: 0; bottom: 0; left: 0;
}

.hit {
  background: radial-gradient(rgb(244, 44, 44), rgb(224, 30, 30), rgb(86, 17, 17));
  right: 25px;
  bottom: 100px;
}
.hit.clicked {
  background: radial-gradient(rgb(254, 84, 84), rgb(234, 50, 50), rgb(96, 37, 37));
}

.block {
  background: radial-gradient(rgb(244, 244, 24), rgb(224, 224, 20), rgb(126, 126, 17));
  right: 100px;
  bottom: 25px;
}

.block.clicked {
  background: radial-gradient(rgb(254, 254, 64), rgb(234, 234, 40), rgb(146, 146, 37));
}

#left {
  position:fixed;
  bottom: 10px;
  left: 10px;
}


.button {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  //border: 2px outset rgba(125,125,125,0.6);
  box-shadow: 3px 3px 6px rgba(0,0,0,0.5);
  position: fixed;
  line-height: 80px;
  text-align:center;
  vertical-align: middle;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  -webkit-user-select: none;
  text-shadow: 0 0 3px #222;
}
.clicked {
  box-shadow: 1px 1px 2px rgba(0,0,0,0.8);
  transform:translate(2px,2px);
  font-weight: 700;
}

#left span:hover, #left span.clicked, .menu>button:hover:enabled {
  background: linear-gradient(rgb(244, 244, 224), rgb(224, 224, 204), rgb(166, 166, 76));
  color: #fff;
}
//
// .clicked {
//   border: 3px inset rgba(225,225,225,0.9) !important;
//   font-weight: 900;
//   margin:0px !important;
// }
//
#left span {
  /*background: rgba(55,55,55,0.9);*/
  border: 2px outset rgba(125,125,125,0.6);
  text-shadow: 0 0 2px #222;
  border-radius: 3px;
  height: 100%;
  display: inline-block;
  background: linear-gradient(rgb(224, 224, 224), rgb(204, 204, 204), rgb(126, 126, 126));
  box-shadow: 3px 3px 6px rgba(0,0,0,0.5);
  margin: 1px;
  text-align:center;
  vertical-align: middle;
  font-size: 24px;
  color: #ffb;
  cursor: pointer;
  -webkit-user-select: none;
}


#left div {
  padding: 3px;
}

.hidden {
  visibility: hidden;
}

// See input.js - if you update these values update the mouse/touch listener!
.w1 {
  width: 55px;
}
.w2 {
  width: 65px;
}
.h1 {
  height: 55px;
  line-height: 55px;
}

.h2 {
  height: 65px;
  line-height: 65px;
}

.menu {
  transition: opacity .25s ease-in-out;
  position: absolute;
  top: 10%;
  left: 30%;
  text-align: center;
  line-height: 1.6vw;
  font-size: 1.5vw;
  background: rgba(120,120,120,0.8);
  border: 1px solid #ddf;
  border-radius: 20px;
  width: 40%;
  color: #fff;
  opacity: 0;
}

#start {
  font-size: 1.6vw;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 20px;
  background: linear-gradient(rgb(224, 224, 224), rgb(204, 204, 204), rgb(126, 126, 126));
  box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  cursor:not-allowed;
}
#start:enabled {
  box-shadow: 3px 3px 6px rgba(0,0,0,0.5);
  cursor:pointer;
}
#messageBox {
  padding: 2px 5px;
}

.game {
  transition: opacity .25s ease-in-out;
}

.inmenu {
  opacity: 1
}
.game.hide {
  opacity: 0.1;
}


#dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -50px;
  width: 200px;
  padding: 10px;
  border: 1px solid #DDD;
  background: #BBD;
  font-size: 14px;
  color: #333;
  border-radius: 3px;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.5);
}

#dialogTitle {
  font-size: 20px;
  line-height: 30px;
  color: #EEE;
  background: #888;
  text-align: center;
  margin: -10px -10px 0 -10px;
  border-bottom: 2px solid #DDD;
}


#dialogContent {
  text-align: left;
  padding: 20px 10px;
  border-bottom: 1px solid #CCC;
}

#dialog input {
  width: 100%;
  border: 1px solid #888;
  background: #FFF;
  font-size: 20px;
  text-align: center;
}

#dialogBtFunc {
  cursor: pointer;
  display: inline-block;
  border: 2px solid #DDD;
  background: #888;
  color: #EEE;
  margin-top: 10px;
  padding: 5px 10px;
}
