body {
  font-family: sans-serif;
  margin:0;
}

* {
  user-select: none;
}

#warning-message { display: none; }
@media only screen and (max-device-width: 480px) and (orientation:portrait){
   #game { display:none; }
   .menu { display:none;}
   #warning-message { display:block; }
}
@media only screen and (max-device-width: 480px) and (orientation:landscape){
   #warning-message { display:none; }
}

#game {
  position: fixed; top: 0; right: 0; bottom: 0; left: 0;
}

.hit {
  background: radial-gradient(rgb(244, 44, 44), rgb(224, 30, 30), rgb(86, 17, 17));
  right: 25px;
  bottom: 100px;
}
.hit.clicked {
  background: radial-gradient(rgb(254, 84, 84), rgb(234, 50, 50), rgb(96, 37, 37));
}

.powerup {
  background: radial-gradient(rgb(244, 244, 24), rgb(224, 224, 20), rgb(126, 126, 17));
  right: 100px;
  bottom: 25px;
}

.powerup.clicked {
  background: radial-gradient(rgb(254, 254, 64), rgb(234, 234, 40), rgb(146, 146, 37));
}

.key {
  border: 1px #ddd outset;
  border-radius: 2px;
  padding: 2px;
  box-shadow: 1px 1px #222;
}

#arrows {
  position:fixed;
  bottom: 2vh;
  left: 2vw;
}

.blue {
  color: #77f;
  text-shadow: 0 0 3px #223;
}
.red {
  color: #f77;
  text-shadow: 0 0 3px #322;
}
.button {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  //border: 2px outset rgba(125,125,125,0.6);
  box-shadow: 3px 3px 6px rgba(0,0,0,0.5);
  position: fixed;
  line-height: 80px;
  text-align:center;
  vertical-align: middle;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  -webkit-user-select: none;
  text-shadow: 0 0 3px #222;
}
.clicked {
  box-shadow: 1px 1px 2px rgba(0,0,0,0.8);
  transform:translate(2px,2px);
  font-weight: 700;
}

//
// .clicked {
//   border: 3px inset rgba(225,225,225,0.9) !important;
//   font-weight: 900;
//   margin:0px !important;
// }
//
#arrows span {
  /*background: rgba(55,55,55,0.9);*/
  display: inline-block;
  border: 2px outset rgba(125,125,125,0.6);
  text-shadow: 0 0 2px #222;
  border-radius: 3px;
  background: linear-gradient(rgb(224, 224, 224), rgb(204, 204, 204), rgb(126, 126, 126));
  box-shadow: 3px 3px 6px rgba(0,0,0,0.5);
  text-align:center;
  margin: 1px;
  vertical-align: middle;
  font-size: 24px;
  color: #ffb;
  cursor: pointer;
  -webkit-user-select: none;
}


#arrows div {
  padding: 3px;
}

.hidden {
  visibility: hidden;
}

// See input.js - if you update these values update the mouse/touch listener!
.w1 {
  width: 2vw;
}
.w2 {
  width: 8vw;
}
.w3 {
  width: 5vw;
}

.h2 {
  height: 10vh;
  line-height: 10vh;
}

.menu {
  transition: opacity 1s ease-in-out;
  position: absolute;
  top: 10%;
  left: 30%;
  text-align: center;
  line-height: 1.3vw;
  font-size: 1.2vw;
  background: rgba(120,120,120,0.8);
  border: 1px solid #ddf;
  border-radius: 20px;
  width: 40%;
  color: #fff;
  opacity: 0;
}

.menu button {
  box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  border: 2px outset rgba(125,125,125,0.6);
  border-radius: 3px;
  background: linear-gradient(rgb(224, 224, 224), rgb(204, 204, 204), rgb(126, 126, 126));
}

#start {
  padding: 10px 20px;
  margin: 20px;
  cursor:not-allowed;
  font-size: 1.6vw;
}

#dialogBtFunc {
  font-size: 1.6vw;
  border: 1px outset rgba(125,125,125,0.6);
  border-radius: 3px;
  background: linear-gradient(rgb(224, 224, 224), rgb(204, 204, 204), rgb(126, 126, 126));
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
}

.menu button:enabled, #start:enabled, #dialogBtFunc {
  box-shadow: 3px 3px 6px rgba(0,0,0,0.5);
  cursor:pointer;
}

#arrows span:hover, #arrows span.clicked, #dialogBtFunc:hover, .menu button:hover:enabled {
  background: linear-gradient(rgb(244, 244, 224), rgb(224, 224, 204), rgb(166, 166, 76));
  color: #fff;
  text-shadow: 0 0 2px #222;
}


#messageBox {
  padding: 2px 5px;
  position:fixed;
  bottom:0;
  left:50%;
  width: 300px;
  margin-left:-150px;
  text-align: center;
}
#messageBox p {
  background:rgba(0,0,0,0.5);
  color: #fff;
  text-shadow: 0 0 2px #222;
}



.game {
  transition: opacity .25s ease-in-out;
}

.inmenu {
  opacity: 1
}
.game.hide {
  opacity: 0.1;
}


#dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -150px;
  text-align: center;
  width: 400px;
  padding: 6px;
  border: 1px solid #DDD;
  background: #BBD;
  font-size: 14px;
  color: #333;
  border-radius: 3px;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.5);
}

li {
  margin-top: 5px;
}

#dialogTitle {
  font-size: 20px;
  line-height: 30px;
  color: #EEE;
  background: #888;
  margin: -6px -6px 0 -6px;
  border-bottom: 2px solid #DDD;
}


#dialogContent {
  padding: 20px 10px;
  border-bottom: 1px solid #CCC;
}

#dialog input {
  width: 100%;
  border: 1px solid #888;
  background: #FFF;
  font-size: 20px;
}
